name: DevSecOps CI/CD

on:
  push:
    branches: [ main ]

jobs:
  pipeline:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1) Build + génère un JAR
      - name: Build (creates app.jar)
        run: |
          mvn -DskipTests clean package
          cp target/*.jar app.jar
          ls -lh app.jar

      # 2) Analyse SonarQube
      - name: SonarQube Analysis
        run: |
          mvn sonar:sonar \
            -Dsonar.projectKey=springboot-app \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # 3) Settings Maven (auth Nexus)
      - name: Configure Maven settings.xml (Nexus)
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml <<EOF
          <settings>
            <servers>
              <server>
                <id>nexus</id>
                <username>${{ secrets.NEXUS_USER }}</username>
                <password>${{ secrets.NEXUS_PASSWORD }}</password>
              </server>
            </servers>
          </settings>
          EOF

      # 4) Déploiement vers Nexus
      - name: Deploy to Nexus
        run: mvn deploy -DskipTests

      # 5) Login Docker Hub
      - name: Docker Login
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      # 6) Build + push image Docker
      - name: Build & Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:latest
